Localization
{
	ru
	{
		//Settings
		#autoLoc_Settings_allowTarget = Разрешить отображение на цели
		#autoLoc_Settings_showTime = Показывать время
		#autoLoc_Settings_showAltitude = Показывать высоту
		#autoLoc_Settings_showSpeed = Показывать скорость
		#autoLoc_Settings_showAngleToPrograde = Показывать угол к вектору по движению
		#autoLoc_Settings_displayWidth = Ширина отображаемых данных
		#autoLoc_Settings_displayHeight = Высота отображаемых данных
		#autoLoc_Settings_AllowDialog = Разрешить окно добавления сигнала
		#autoLoc_Settings_UseLeft = Открывать окно добавления сигнала левой кнопкой мыши
		#autoLoc_Settings_UseRight = Открывать окно добавления сигнала правой кнопкой мыши
		#autoLoc_Settings_IgnoreStock = Игнорировать обычное сигнальное стройство, если установлен KAC

		//Main
		#autoLoc_Main_Time = T:
		#autoLoc_Main_Altitude = H: 
		#autoLoc_Main_Speed = V: 
		#autoLoc_Main_AngleToPrograde = α:

		#LOC_ABCORS_ABCORS_Orbit_Alarm = Сигнал о точке орбиты от ABCORS
		#LOC_ABCORS_ABCORS_Alarm_Manager = Сигнал ABCORS
		#LOC_ABCORS_Alarm_time = Время сигнала: 
		#LOC_ABCORS_Title = Название:
		#LOC_ABCORS_Descr = Описание:
		#LOC_ABCORS_Set_KAC_Alarm = Создать сигнал KAC
		#LOC_ABCORS_Set_Stock_Alarm = Создать обычный сигнал
		#LOC_ABCORS_Close = Закрыть
		#LOC_ABCORS_ABCORS = ABCORS
	}
}
